# Short headless voltage/current trace for the tester's first installed channel (ID 13).
#
# Run from qudi-core with:
#   venv\Scripts\python.exe -m qudi.core --no-gui --config qudi-iqo-modules\config_examples\battery_tester_headless_channel13_trace.cfg
#
# A PNG voltage/current plot is generated beside the data file on normal shutdown.

global:
    startup_modules:
        - battery_tester_logic

hardware:
    hrt_battery_tester:
        module.Class: 'battery_tester.hrt_battery_tester.HrtBatteryTester'
        options:
            base_url: 'http://10.1.24.116:1841/'
            api_url: 'http://10.1.24.116:8000/'
            live_transport: 'socketio'
            socketio_url: 'http://10.1.24.116:3000/'
            socketio_path: 'socket.io'
            max_live_age_s: 5
            request_timeout_s: 10
            command_timeout_s: 10
            allowed_channels: [13, 14, 15, 16]
            require_live_data: true
            reconnect_attempts: 2
            reconnect_backoff_s: 0.5
            reconnect_cooldown_s: 10

logic:
    battery_tester_logic:
        module.Class: 'battery_tester_logic.BatteryTesterLogic'
        options:
            poll_interval_s: 1.0
            require_temperature_sensor: true
            auto_start_monitoring: true
            monitor_channel_ids: [13]
            monitor_flush_rows: 20
            monitor_flush_interval_s: 5
            monitor_max_buffer_rows: 10000
            monitor_save_thumbnail: true
        connect:
            battery_tester: hrt_battery_tester
